.container {
    width: 100%;
    align-items: center;
}
.seat{
    height: 50px;
    width: 100%;
    text-align: center;
}

.row{
    margin: 5px;
    width:13%;
}
.main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    width:100%
}



